<h2>Sample Data:</h2>
<table class="data-table table table-striped" style="margin-bottom:0;">
	<tr>
		<th><%=@x%></th>
		<th><%=@y%></th>
	</tr>
	<% @sample.each do |s|%>
		<tr>
			<td><%=s[0]%></td>
			<td><%=s[1]%></td>
		</tr>
	<%end%>
	
</table>

<%=form_tag '/graphs/pareto', :method => 'get' do%>
<%if @datetrue || @datetrue2%>
	<div class='form-group'>
		<label>Date detected! Select grouping method</label>
		<%= select_tag :dategroup, options_for_select(['year','month','day'])%>
		<%if @datetrue2%>
			<%= hidden_field_tag :mustparse, true%>
		<%end%>
		
	</div>
<%end%>
<div class='form-group'>
					<div class='controls'>
						<div class='checkbox'>
							<label>
								<input data-target='#change-year' data-toggle='collapse' id='changeyearcheck' type='checkbox' value='option1'>
								My data needs to be aggregated </label>
						</div>
					</div>
				</div>
<div class='collapse' id='change-year'>
					
					<div class='form-group'>
						<label>What to do for same groups</label>
						<%= select_tag :process, options_for_select(['sum','aggregate']), :include_blank => true%>
						<%= hidden_field_tag :y, @y%>
					</div>
					
					
					
				</div>
<%= submit_tag 'Go', :class => 'btn btn-primary'%>
<%end%>
